
# Main configuration
type: "unknown"                           # Input datatype, n (nucleotide) or p (protein), required
sequences: ""                             # input unaligned sequence file
output_msa: ""                            # Output MSA file name  
backbone_aln: ""                          # Backbone Alignment
backbone_tree: ""                         # Backbone tree. If not specified, FastTree will be used for estimation.
init_tree: "parttree"                     # Tree estimation method for the initial guide tree (from unaligned sequences), options: "maffttree", "parttree", "mashtree"
iter_tree: "rapidnj"                      # Tree estimation method for intermediate iterations (faster), options: "rapidnj", "fasttree"        
final_tree: ""                            # Tree estimation method for the final MSA (higher quality, slower), options: "raxml", "fasttree", "iqtree"
num_threads:                              # Number of threads
iterations: ""                            # Number of iterations: 1-5. Default: 3 for iterative mode and 2 for placement mode
work_dir: ""                              # Directory to store MSA and tree files
keep_dir: "no"                            # Keep working directory
overwrite: "no"                           # Overwrite existing files

# Path for executable files
# please make sure you have the correct paths
twilight: "../bin/twilight"
mashtree: "mashtree"
fasttree: "FastTreeMP"
raxml: "raxmlHPC-PTHREADS"
mafft: "mafft"
iqtree: "iqtree3"
rapidnj: "../rapidNJ/bin/rapidnj"
epang: "epa-ng"
gappa: "gappa"

# TWILIGHT command options
max_subtree: 2147483647  # Default: INT32_MAX
rgc: 0.95                # Threshold for removing gappy columns, recommand higher threshold for similar sequences
gapopen: -50      
gapextend: -5
matrix: ""

# Iterative Mode
mask_gappy: 0.95                         # Minimum proportion of gappy sites that would be mask before proceed to tree inference step


# IQ-TREE Model Selection
# Automatically determine the best model without specifying one, though this may take some time.
# If you would like to speed up the process, please specify a model (e.g., "-m GTR"). 
# See "https://iqtree.github.io/doc/Substitution-Models" for more details on available models.
iqtree_model: ""
